# Node modules
node_modules/

# Build files
build/
bin/
obj/

# Log files
*.log

# Temporary files
*.tmp
*.temp

# System files
.DS_Store
Thumbs.db

# Compiled binary files
*.o
*.so
*.exe
*.dll

# FFmpeg directories or files if needed
ffmpeg-7.1/
